.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background: var(--background);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (min-width: 900px) {
  .main {
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
  }
}