.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}